.container {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.title {
  background-color: #eee;
  padding: 10px 0;
  padding-left: 20;
}
.code {
  flex-grow: 1;
}
.code_panel {
  min-height: 400px;
  width: 600px;
  margin-bottom: 20px;
}
